.fragment.blur {
    filter: blur(5px);
}
.fragment.blur.visible {
    filter: none;
}

.fragment.blur-current {
    filter: blur(5px);
}

.fragment.blur-current.current-fragment {
    filter: none;
}

.reveal .rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.footer {
    position: fixed;
    left: 6px;
    bottom: 6px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .logo1 {
        background-image: url('../images/maxsessions.png');
        background-size:cover;
        width: 64px;
        height: 64px;
    }
    
    .logo2 {
        background-image: url('../images/netcore.png');
        background-size:cover;
        width: 48px;
        height: 48px;
    }
    
    .logo3 {
        background-image: url('../images/signalr.svg');
        background-size:cover;
        width: 48px;
        height: 48px;
    }
}